<!--
  Generated template for the FiltersPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-toolbar color="primary" >
  <ion-title>
    Filters
  </ion-title>
  <ion-buttons start>
    <button  ion-button (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button  ion-button (click)="dismiss()">
      Apply
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content class=" common-bg">
  <div text-center margin-top margin-bottom class="secondary">SORT BY</div>
  <ion-grid class="light-bg">
    <ion-row text-center>
      <ion-col *ngFor="let sort of sorts" [class]="sort.active" (click)="chooseSort(sort)">
        <ion-icon name="{{ sort.icon }}" class="text-lg"></ion-icon>
        <ion-icon name="ios-arrow-round-up" class="text-lg" [hidden]="!sort.sortDirection || !sort.sortAsc"></ion-icon>
        <ion-icon name="ios-arrow-round-down" class="text-lg" [hidden]="!sort.sortDirection || sort.sortAsc"></ion-icon>
        <div>{{ sort.name }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div text-center margin-top margin-bottom class="secondary">QUICK FILTERS</div>
  <ion-grid class="light-bg">
    <ion-row text-center>
      <ion-col>
        <ion-checkbox color="secondary"  checked="true"></ion-checkbox>
        <div>Open now</div>
      </ion-col>
      <ion-col>
        <ion-checkbox color="secondary"  checked="false"></ion-checkbox>
        <div>Rate 3.5+</div>
      </ion-col>
      <ion-col>
        <ion-checkbox color="secondary"  checked="false"></ion-checkbox>
        <div>Bookmarked</div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div text-center margin-top margin-bottom class="secondary">COST</div>
  <ion-grid class="light-bg">
    <ion-row text-center>
      <ion-col>
        <ion-icon name="logo-usd"></ion-icon>
        <div>0-10</div>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-usd"></ion-icon>
        <div>10-20</div>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-usd"></ion-icon>
        <div>20-30</div>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-usd"></ion-icon>
        <div>30+</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div text-center margin-top margin-bottom class="secondary">MORE FIlTERS</div>
  <ion-list padding-bottom class="text-light">

    <ion-item>
      <ion-label>Online booking</ion-label>
      <ion-checkbox color="secondary"  checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Creadit cards</ion-label>
      <ion-checkbox color="secondary"  checked="false"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Happy hours</ion-label>
      <ion-checkbox color="secondary"  checked="false"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Wifi</ion-label>
      <ion-checkbox color="secondary"  checked="false"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Alcohol served</ion-label>
      <ion-checkbox color="secondary"  checked="false"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Sport bars</ion-label>
      <ion-checkbox color="secondary"  checked="false"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Live music</ion-label>
      <ion-checkbox color="secondary"  checked="false"></ion-checkbox>
    </ion-item>


  </ion-list>
</ion-content>
