<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Login</ion-title>
    <ion-buttons end>
      <button ion-button (click)="signUp()" class="light">Sign up</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="login">
  <button ion-button color="facebook" block class="margin-bottom">Login via Facebook</button>
  <button ion-button color="googleplus" block class="margin-top">Login via Google+</button>

  <div text-center class="margin-top-20 secondary">OR LOGIN USING EMAIL</div>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" novalidate>
    <ion-list class="list-form">
      <ion-item class="margin-top">
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email address"
          [class.error]="!loginForm.controls.email.valid && loginForm.controls.email.touched"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.touched">
        <p>Please enter a valid email.</p>
      </ion-item>
      <ion-item class="margin-top" [class.error]="!loginForm.controls.password.valid && loginForm.controls.password.touched">
        <ion-label stacked>Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Your password" [class.error]="!loginForm.controls.password.valid && loginForm.controls.password.touched"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>
    </ion-list>

    <button ion-button color="secondary" block type="submit">
    LOGIN
    </button>
  
  </form>

  <div text-center class="margin-top-20 secondary" (click)="forgotPwd();">Forgot password?</div>
</ion-content>
