<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="secondary" >
    <ion-title>Forgot Password?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="forgot-password">
  <form [formGroup]="resetPasswordForm"  (ngSubmit)="reset(resetPasswordForm)" novalidate>
    <ion-list class="list-form">
      <ion-item class="margin-top">
        <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
      </ion-item>

    </ion-list>
    <button  ion-button color="secondary" type="submit" block>SUBMIT</button>
  </form>
</ion-content>
