<!--
  Generated template for the MainTabsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-tabs color="primary" selectedIndex="0">
  <ion-tab tabIcon="home" tabTitle="Home" [root]="tabHome"></ion-tab>
  <ion-tab tabIcon="albums" tabTitle="Collections" [root]="tabCollections"></ion-tab>
  <ion-tab tabIcon="paper" tabTitle="My Reservations" [root]="tabHistory"></ion-tab>
  <ion-tab tabIcon="contact" tabTitle="Account" [root]="tabAccount"></ion-tab>
</ion-tabs>
