<!--
  Generated template for the PhotosPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Photos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row wrap>
      <ion-col class="rlt" width-33 *ngFor="let photo of place.photos" (click)="viewPlace(place.id)">
        <img class="round" src="{{ photo.thumb }}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
