page-collections {
    .collections {

        ion-item {
            padding: 0;
            border-radius: 3px;

            .item-inner {
            position: relative;
            padding: 40px 10px;
            background: rgba(0, 0, 0, 0.6);

            .bookmark-icon {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            h3 {
                margin: 8px 0;
                font-size: 1.5em;
            }
            }
        }
    }
}
