<!--
  Generated template for the CollectionsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Collections</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="collections">
  <ion-list>
    <ion-item class="margin-top" *ngFor="let collection of collections"
              [ngStyle]="{'background-image': 'url(' + collection.background + ')'}">
      <div class="item-info">
        <ion-icon class="bookmark-icon" name="bookmark" color="primary"  [hidden]="!collection.bookmarked"
                  (click)="addBookMark(collection)"></ion-icon>
        <ion-icon class="bookmark-icon" name="bookmark-outline" color="light"  [hidden]="collection.bookmarked"
                  (click)="addBookMark(collection)"></ion-icon>
        <div class="text-sm light" (click)="goToCollection(collection.id)">{{ collection.num_places }} PLACE &bull; {{
          collection.num_bookmarks }} BOOKMARKS
        </div>
        <h3 class="light" (click)="goToCollection(collection.id)">{{ collection.name }}</h3>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
