page-home {
    .home {

        ion-slides {
            height: 170px;
        }

        .card {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
        }

        .button-fab {
            bottom: 60px;
        }
    }

    .the-logo{
        height: 35px;
    }

}
