<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary" >
    <ion-title>SignUp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="sign-up">
  <button  ion-button color="facebook" block class="margin-bottom">Sign up via Facebook</button>
  <button  ion-button color="googleplus" block class="margin-top">Sign up Google+</button>

  <div text-center class="margin-top-20 secondary">OR SIGN UP USING EMAIL</div>
  <form [formGroup]="registerForm"  (ngSubmit)="register(registerForm)" novalidate>
  <ion-list class="list-form">

    <ion-item class="margin-top">
      <ion-input type="text" formControlName="firstname" placeholder="Firstname" [class.error]="!registerForm.controls.firstname.valid && registerForm.controls.firstname.touched"></ion-input>
    </ion-item>
    
    <ion-item class="margin-top">
      <ion-input type="text" formControlName="lastname" placeholder="Lastname" [class.error]="!registerForm.controls.lastname.valid && registerForm.controls.lastname.touched"></ion-input>
    </ion-item>

    <ion-item class="margin-top">
      <ion-input type="email" formControlName="email" placeholder="Email Address" [class.error]="!registerForm.controls.email.valid && registerForm.controls.email.touched"></ion-input>
    </ion-item>

    <ion-item class="margin-top">
      <ion-input type="password" formControlName="password" placeholder="Password" [class.error]="!registerForm.controls.password.valid && registerForm.controls.password.touched"></ion-input>
    </ion-item>

  </ion-list>

  <button  ion-button color="secondary"  block type="submit">SIGN UP</button>
  </form>
  <div text-center class="margin-top-20 secondary" (click)="forgotPwd()">Forgot password?</div>
</ion-content>
