page-feed {
    .feed {
    .item-avatar {
        width: 36px;
        height: 36px;
        margin-right: 10px;
    }

    h3 {
        font-size: 1.2em;
        margin: 0;
    }

    .item-header {
        &.border-bottom {
        padding-bottom: 10px;
        margin-bottom: 10px;
        }
    }

    .post-images {
        margin-top: 5px;

        img {
        width: 64px;
        height: 64px;
        }
    }

    .action-buttons {

        ion-icon {
        margin-right: 15px;
        }
    }

    .button-set {
        &.set-2 {
        button {
            width: 50%;
            display: inline-block;
            margin: 0;
        }
        }
    }
    }
    .notification-title{
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
    }
    .notification-item{
        width: 90%;
        font-size: 15px;
        margin: 20px;
        background: #fff;
        border-radius: 5px;
        padding: 15px;
    }

}
