<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class=" common-bg">

  <ion-slides pager class="pager-inner">

        <ion-slide>
            <div class="notification-title">
              Active Reservations
            </div>
            <div class="notification-items">
              <div class="notification-item" *ngFor="let current of current_reservation">
                Restaurant: {{current.restaurant_name}} <br/>
                Restaurant Address: {{current.restaurant_address}} <br/>
                Date and Time Reserved: {{current.date}} @ {{current.time}}
                <button ion-button full color="danger" (click)="cancelReservation(current.$key)">Cancel Reservation</button>
              </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="notification-title">
              Past Reservations
            </div>
            <div class="notification-items">
              <div class="notification-item" *ngFor="let past of past_reservation">
                Restaurant: {{past.restaurant_name}} <br/>
                Restaurant Address: {{past.restaurant_address}} <br/>
                Date and Time Reserved: {{past.date }} @ {{ past.time}}
              </div>
            </div>
        </ion-slide>

    </ion-slides>  

  

  <!--<ion-list class="list-no-border">

    <ion-item *ngFor="let review of reviews" text-wrap class="margin-bottom">
      <div class="item-header border-bottom" (click)="viewPlace(review.place.id)">
        <img src="{{ review.place.photo}}" class="pull-left item-avatar" alt="">
        <div class="pull-left">
          <h3>{{ review.place.name }}</h3>
          <div class="secondary uppercase text-sm">{{ review.place.district }}, {{ review.place.city }}</div>
        </div>
        <div class="clear"></div>
      </div>
      <div>
        <div class="item-header">
          <img src="{{ review.author.profile_picture}}" class="pull-left item-avatar profile-picture" alt="">
          <div class="pull-left">
            <h3>{{ review.author.username }}</h3>
            <div class="secondary uppercase text-sm">{{ review.author.num_reviews }} Reviews, {{
              review.author.num_folowers }} Follower
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div>
        <div class="pull-left secondary text-sm">{{ review.time }}</div>
        <div class="pull-right secondary text-sm">
          RATED
          <span class="rating">
            {{ review.rating }}
          </span>
        </div>

        <div class="clear"></div>
      </div>

      <div class="text-sm" margin-top>
        {{ review.text }}
      </div>

      <div class="post-images">
        <img *ngFor="let photo of review.photos" src="{{ photo.thumb }}">
      </div>

      <div>
        <div class="pull-left action-buttons">
          <ion-icon name="md-heart-outline" color="danger"  [hidden]="!review.liked"></ion-icon>
          <ion-icon name="md-heart-outline" color="secondary"  [hidden]="review.liked"></ion-icon>
          <ion-icon name="ios-chatboxes-outline" color="danger"  [hidden]="!review.commented"></ion-icon>
          <ion-icon name="ios-chatboxes-outline" color="secondary"  [hidden]="review.commented"></ion-icon>
          <ion-icon name="md-share" color="secondary" ></ion-icon>
        </div>

        <div class="pull-right uppercase secondary text-sm">
          {{ review.num_likes }} likes &bull;
          {{ review.num_comments }} comments
        </div>

        <div class="clear"></div>
      </div>

    </ion-item>
  </ion-list>-->
</ion-content>
