<!--
  Generated template for the History page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary" >
	  <ion-title>My Current Reservations</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngFor="let reservation of all_reservations" class="reservation-item">
    <div class="the-item" *ngIf="reservation.status != 0 && (reservation.date | date: 'MM dd, yyyy') > (date_today | date: 'MM dd, yyyy')">
      Restaurant: {{reservation.restaurant_name}}<br/>
      Restaurant's Address: {{reservation.restaurant_address}}<br/>
      Datetime Reserved: {{reservation.date}} @ {{reservation.time}}<br/>
      Number of People: {{reservation.number_people}}<br/>
      <button ion-button full color="danger"  (click)="cancelReservation(reservation.$key)">Cancel Reservation</button> 
    </div>    
  </div>
</ion-content>
