<!--
  Generated template for the BookmarksPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Bookmarks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bookmarks">

  <div class="search-form">
    <ion-icon name="ios-search"></ion-icon>
    <ion-input type="text" placeholder="Type to filter by location"></ion-input>
  </div>

  <!-- list of places -->
  <ion-list class="list-full-border">
    <ion-item *ngFor="let place of places">
      <ion-avatar item-left>
        <img src="{{ place.photos[0].thumb }}">
      </ion-avatar>

      <div>
        <div>{{ place.name }}</div>
        <div class="secondary uppercase text-sm">{{ place.district }}, {{ place.city }}</div>
      </div>

      <ion-icon name="call" color="favorite"  item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
