page-bookmarks {
    .bookmarks {

        .search-form {
            margin-bottom: 5px;
            border: 1px solid color($colors, bgColor);
            border-radius: 4px;
        }
    }
}
