<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="search-form">
    <ion-icon name="ios-search"></ion-icon>
    <ion-input type="text" placeholder="Restaurant, cuisine or dish..."></ion-input>
  </div>

  <div class="common-bg secondary" padding>
    SUGGESTIONS
  </div>

  <div *ngFor="let search of searches" padding>
    {{ search.name }}
  </div>

  <div class="common-bg secondary" padding>
    RECENT SEARCHES
  </div>

  <div *ngFor="let search of searches" padding>
    {{ search.name }}
  </div>
</ion-content>
