<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Account</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- username-->
  <ion-item class="no-border">
    <ion-avatar item-left>
      <img src="assets/img/user/mike.png" alt="">
    </ion-avatar>
    <span class="strong">{{ user_data?.firstname }} {{ user_data?.lastname }}</span>
    <ion-icon name="ios-arrow-forward" item-right></ion-icon>
  </ion-item>

  <!-- Profile -->
  <ion-item-group>

    <ion-item-divider bgColor>PROFILE</ion-item-divider>
    <ion-item (click)="goToHist()">
      <ion-icon name="pricetags"></ion-icon>
      Reservations
    </ion-item>

  </ion-item-group>

  <!-- Other -->
  <ion-item-group>
    <ion-item-divider bgColor>OTHERS</ion-item-divider>
    <ion-item (click)="logout()">
      <ion-icon name="ios-exit"></ion-icon>
      Sign out
    </ion-item>
  </ion-item-group>
</ion-content>
