<!--
  Generated template for the PlaceDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Place Detail</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class=" common-bg rlt">

  <!-- content top -->
  <div class="bg-image" [ngStyle]="{'background-image': 'url(' + restaurant.photos[0].full_size + ')'}">

    <div class="bg-overlay place-intro" style="
          color: #fff;
          text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
    " padding>
      <div>
        <div class="pull-left">
          <h3>{{ restaurant.name}}</h3>
          <span>{{ restaurant.district }}, {{ restaurant.city }}</span>
        </div>

        <div class="pull-right" text-right>
          <div class="rating">{{ restaurant.rating }}</div>
          <div>{{ restaurant.num_votes }} votes</div>
        </div>

        <div class="clear"></div>
      </div>

      <div margin-top>
        <ion-badge color="favorite"  [hidden]="!workingHour.available">OPEN NOW</ion-badge>
        <ion-badge color="primary"  [hidden]="workingHour.available">CLOSE NOW</ion-badge>
        {{ restaurant.time_open }}h to {{ restaurant.time_close }}h
        <div>
          {{ restaurant.num_reviews }} Reviews &bull;
          {{ restaurant.num_photos }} Photos
        </div>
      </div>

      <div class="line" margin-top margin-bottom></div>
      <div margin-bottom>
        <a href="tel:{{ restaurant.phone }}" class="btn-round">
          <ion-icon name="call" color="favorite" ></ion-icon>
        </a>
        <div class="btn-round" (click)="addBookMark(restaurant)">
          <ion-icon name="bookmark" color="primary"  [hidden]="!restaurant.bookmarked"></ion-icon>
          <ion-icon name="bookmark" [hidden]="restaurant.bookmarked"></ion-icon>
        </div>
        <div class="btn-round" (click)="goToMap()">
          <ion-icon name="pin"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <!--address-->
  <div padding class="light-bg">
    <div class="strong">Address</div>
    <span>{{ restaurant.address }}</span>

    <p>
      <a href="{{ restaurant.website }}" color="primary" >
        Website
        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
      </a>
    </p>
  </div>
  <div class="block-footer" padding text-right (click)="goToMap()">
    <span color="primary" >Map & Directions</span>
    <ion-icon color="primary"  name="arrow-forward"></ion-icon>
  </div>

  <!-- menu -->
  <div padding class="light-bg margin-top-20">
    <div class="strong">MAIN MENU</div>
    <div class="menu-title">
      {{ restaurant.menu[0].name }}
    </div>
    <div *ngFor="let item of restaurant.menu[0].items">
      <span>{{ item.name }}</span>
      <span class="pull-right">{{ item.price | currency:'USD':true }}</span>
    </div>
  </div>
  <div class="block-footer" padding text-right (click)="goToMenu()">
    <span color="primary" >See Menu</span>
    <ion-icon color="primary"  name="arrow-forward"></ion-icon>
  </div>

  <!-- photos -->
  <div padding class="light-bg margin-top-20">
    <div class="strong">Photos</div>

    <ion-grid class="grid-no-padding">
      <ion-row>
        <ion-col width-25 *ngFor="let photo of limitArray(restaurant.photos, 4)">
          <img class="round" src="{{ photo.thumb }}" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>

    <button  ion-button color="favorite" (click)="reserveRestaurant()" block>
      Reserve Now
    </button>
  </div>
  <div class="block-footer" padding text-right (click)="goToPhotos()">
    <span color="primary" >See All Photos</span>
    <ion-icon color="primary"  name="arrow-forward"></ion-icon>
  </div>

  <!-- Reviews -->
  <div padding class="light-bg margin-top-20">
    <div class="strong">Reviews</div>
    <div margin-top class="secondary">RECENT REVIEWS</div>
    <ion-list class="list-no-border">
      <ion-item *ngFor="let review of restaurant.reviews" text-wrap>
        <ion-avatar item-left>
          <img src="{{ review.profile_picture }}" alt="">
        </ion-avatar>
        <div class="strong">{{ review.username }}</div>
        <div class="text-sm">
          <span class="strong">RATED</span>
          <span class="rating">{{ review.rating }}</span>
          {{ review.comment }}
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="block-footer" padding text-right (click)="goToReviews()">
    <span color="primary" >Read All Review({{ restaurant.num_reviews }})</span>
    <ion-icon color="primary"  name="arrow-forward"></ion-icon>
  </div>

  <!-- Other info -->
  <div padding class="light-bg margin-top-20">
    <span class="strong">Hours</span>
    <ion-badge color="favorite"  [hidden]="!workingHour.available">OPEN NOW</ion-badge>
    <ion-badge color="primary"  [hidden]="workingHour.available">CLOSE NOW</ion-badge>
    <div class="strong">
      {{ workingHour.from }}h to {{ workingHour.to }}h
    </div>
    <span color="primary" >View All Days</span>

    <div class="strong" margin-top>Cuisines</div>
    <div>{{ restaurant.cuisines }}</div>

    <div class="strong" margin-top>Cost</div>
    <div>{{ restaurant.cost | currency:'USD':true }}</div>

    <div>
      <ion-icon name="card"></ion-icon>
      <span *ngIf="restaurant.accepted_card && restaurant.accepted_cash">Cash & card accepted</span>
      <span *ngIf="restaurant.accepted_card && !restaurant.placeaccepted_cash">Card accepted</span>
      <span *ngIf="!restaurant.accepted_card && restaurant.accepted_cash">Cash accepted</span>
    </div>

    <div class="strong" margin-top>Highlights</div>
    <div *ngFor="let item of restaurant.highlights">
      <ion-icon name="checkmark-circle" color="favorite" ></ion-icon>
      {{ item }}
    </div>
  </div>

</ion-content>
