<!--
  Generated template for the NearbyPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
	<ion-navbar color="primary" >
	  <ion-title>Nearby</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
  <div id="map_canvas"></div>
</ion-content>
