<!--
  Generated template for the Reservation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary" >
	  <ion-title>Reservation</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item  class="bg-transparrent">
      <ion-label  floating class="big-inputs gray-text">Date:</ion-label>
      <ion-select [(ngModel)]="reservation_date" (ionChange)="onChangeDate($event)">
        <ion-option [value]="date" *ngFor="let date of available_date">{{ date }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item  class="bg-transparrent">
      <ion-label  floating class="big-inputs gray-text">Time:</ion-label>
      <ion-select [(ngModel)]="reservation_time" [disabled]='!reservation_date' (ionChange)="onChangedTime($event)">
        <ion-option [value]="time.val" *ngFor="let time of available_time">{{ time.val | stringTime }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item  class="bg-transparrent">
      <ion-label  floating class="big-inputs gray-text">Number of people:</ion-label>
      <ion-select [(ngModel)]="number_people" [disabled]='!reservation_time'>
        <ion-option [value]="person.val" *ngFor="let person of available_people">{{ person.text }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button type="button" ion-button block color="secondary" [hidden]="reservation_date == '' || reservation_time == '' || number_people == ''" (click)="submit()" [disabled]='!reservation_date && !reservation_time && !number_people'>Submit</button>
</ion-content>
